@page "/Shoes"

@using ShopOnline.Models.Dtos;
@inherits ProductsBase

<h3>Shoes</h3>


@if (Products == null)
{
    <DisplaySpinner />
}
else
{
    var productCount = Products.Count();

    @if (productCount > 0)
    {
        var prod = GetProductsByCategory("Shoes");

        <div class="row">
            <DisplayProducts Products="@prod"></DisplayProducts>
        </div>

    }

}
